docs/usgs/mrds_feature_type.xml

<?xml version='1.0' encoding="UTF-8" ?>
<schema
   targetNamespace="http://mapserver.gis.umn.edu/mapserver" 
   xmlns:ms="http://mapserver.gis.umn.edu/mapserver" 
   xmlns:ogc="http://www.opengis.net/ogc"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns="http://www.w3.org/2001/XMLSchema"
   xmlns:gml="http://www.opengis.net/gml"
   elementFormDefault="qualified" version="0.1" >

  <import namespace="http://www.opengis.net/gml"
          schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd" />

  <element name="mrds" 
           type="ms:mrdsType" 
           substitutionGroup="gml:_Feature" />

  <complexType name="mrdsType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="geometry" type="gml:PointPropertyType" minOccurs="0" maxOccurs="1"/>
          <element name="dep_id" minOccurs="0" type="string"/>
          <element name="site_name" minOccurs="0" type="string"/>
          <element name="dev_stat" minOccurs="0" type="string"/>
          <element name="fips_code" minOccurs="0" type="string"/>
          <element name="huc_code" minOccurs="0" type="string"/>
          <element name="quad_code" minOccurs="0" type="string"/>
          <element name="url" minOccurs="0" type="string"/>
          <element name="code_list" minOccurs="0" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

</schema>
