docs/usgs/usmin_points_type.xml

<?xml version='1.0' encoding="UTF-8" ?>
<schema
   targetNamespace="http://mapserver.gis.umn.edu/mapserver" 
   xmlns:ms="http://mapserver.gis.umn.edu/mapserver" 
   xmlns:ogc="http://www.opengis.net/ogc"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns="http://www.w3.org/2001/XMLSchema"
   xmlns:gml="http://www.opengis.net/gml"
   elementFormDefault="qualified" version="0.1" >

  <import namespace="http://www.opengis.net/gml"
          schemaLocation="http://schemas.opengis.net/gml/3.1.1/base/gml.xsd" />

  <element name="points" 
           type="ms:pointsType" 
           substitutionGroup="gml:_Feature" />

  <complexType name="pointsType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="geometry" type="gml:PointPropertyType" minOccurs="0" maxOccurs="1"/>
          <element name="state" minOccurs="0" type="string"/>
          <element name="county" minOccurs="0" type="string"/>
          <element name="ftr_type" minOccurs="0" type="string"/>
          <element name="ftr_name" minOccurs="0" type="string"/>
          <element name="ftr_azimut" minOccurs="0" type="string"/>
          <element name="topo_name" minOccurs="0" type="string"/>
          <element name="topo_date" minOccurs="0" type="string"/>
          <element name="topo_scale" minOccurs="0" type="string"/>
          <element name="compiledby" minOccurs="0" type="string"/>
          <element name="remarks" minOccurs="0" type="string"/>
          <element name="gda_id" minOccurs="0" type="string"/>
          <element name="scanid" minOccurs="0" type="string"/>
          <element name="dir" minOccurs="0" type="string"/>
          <element name="url" minOccurs="0" type="string"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>

</schema>
